body {
    margin: 0;
    color: white;
    font-family: 'manrope';
}

.container {
    width: calc(100% - 200px);
    min-height: calc(100vh - 160px);
    max-height: fit-content;
    background-color: #5D5DFF;
    ;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left-bg {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.right-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    /* width: 100%; */
}

.row-1 {
    width: fit-content;
    min-height: 100%;
    margin-top: 40px;
}

.row-2 {
    width: fit-content;
    min-height: 100%;
    margin-top: 230px;
}

.row-3 {
    width: fit-content;
    min-height: 100%;
    margin-top: 460px;
}

.testimonial-container {
    width: 500px;
    min-height: 230px;
    max-height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top {
    width: 95%;
    background-color: black;
    display: flex;
    position: relative;
    left: -40px;
    top: -25px;
}

.image-container {
    width: 100px;
    height: 100px;
    transform: scale(1.3, 1.3);
    margin-right: 30px;
}

.image-container>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top-content {
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
}

.top-content .left>* {
    margin: 0;
}

.top-content .left>h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    padding: 2px 0px;

}

.top-content .left>p {
    font-size: 12px;
    font-weight: 100;
}

.star-icon {
    display: flex;
    gap: 6px;
    padding: 4px 1px 8px;
}

.right .star-icon>img {
    transform: scale(1.3, 1.3);
}

.like-icon {
    padding-left: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.like-icon>img {
    width: 16px;
    height: 100%;
}

.like-icon>span {
    font-size: 12px;
}

.down {
    padding: 10px 50px 50px;
    position: relative;
}

.down>p {
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px
}

.testimonial-container>img {
    position: absolute;
    bottom: -39px;
    left: 25px;
    width: 80px;
    height: fit-content;

}